<section>

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="panel panel-default categories">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Category</th>
          <th>Number of Products</th>
        </tr>
      </thead>
      <tbody>
        <%= render 'admin/dashboard/category' %>
      </tbody>
    </table>

  </div>
  
</section>