<div class="alert alert-warning" role="alert">Oh oh! Your cart is empty</div>
<p>We got lots of great products to choose from, click below to explore now</p>
<a href="/" class="btn btn-success">Explore</a>