<section>

  <header class="page-header">
    <h1>Admin &raquo; About</h1>
  </header>

  <div class="panel panel-default about">
    <text>
      Welcome to Jungle, 
      <br>
      <br>
      Propelled by our affection for plants and nature energy, it is our obsession to make creative and noteworthy plant arrangements. We trust that the best, freshest plants deliver the most noteworthy presentations.
      <br>
      <br>
      Jungle is glad to give quality flowers and plants to our customers. Our retail premises opened in 2012 after much interest from the Vancouver open, who respected our Shrubs at the Annual Plant & Flower Show.
      <br>
      <br>
      From that point forward, we have bloomed into a full administration plant & flower specialists with both private and corporate customers.
      <br>
      <br>
      We owe quite a bit of our prosperity to our extraordinary customers, who move us to make unique and dazzling structures. Our master staff is here to enable all customers to pick the best plants and flowers for all events and purposes.
      <br>
      <br>
      Since the primary Shrubs achieved Europe in 1515, its uncommon and fragile excellence has made it an image of extravagance and polish. Today there are more than 30,000 perceived types of Shrubs – with an astonishing 300 new assortments found every year – and Jungle offers probably the most beautiful and fantastic Shrubs accessible.
    </text>
  </div>
  
</section>