<section class="categories-show">
  <% if active_sale? %>
    <%= render '/admin/sales/active_sale' %>
  <% end %>

  <header class="page-header">
    <h1>
      <%= @category.name %>
      <small>(<%= pluralize @products.size, 'product' %>)</small>
    </h1>
  </header>

  <div class="products">
    <%= render @products %>
  </div>

</section>
